.entryWrapper {
  min-width: 300px;
  padding: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.fieldWrapper {
  margin-bottom: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.button {
  margin: 10px;
}